body {
  font-family: "Poppins", sans-serif !important;
  padding: 0;
  margin: 0 !important;
}
@font-face {
  font-family: "Poppins", sans-serif !important;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
}

* {
  box-sizing: border-box !important;
}
